.git
.idea
.env
.env.*
!.env.testing
.gitlab-ci.yml
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
_ide_helper_redis.php
docker/logs/app/*
!docker/logs/app/.gitignore
docker/logs/nginx/*
!docker/logs/nginx/.gitignore
docker-compose*
license
license.example
public/uploads/*
node_modules
storage/app/documents/*
storage/app/simulations/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/oauth-private.key
storage/oauth-public.key
vendor