!.env.example
!.env.example-development-docker
!.env.example-production-docker
!.env.example-testing
!.env.testing
.editorconfig
.env
.env.*
.env.docker_backup
.env.vm_backup
.idea
.phpunit.result.cache
.vagrant
_ide_helper.php
_ide_helper_redis.php
docker-compose*
node_modules
npm-debug.log
phpstorm.meta.php
public/hot
public/js/resources_*
public/storage
storage/*.key
vendor
yarn-error.log
